html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "TTLakes medium";
    src: url("./fonts/TTLakes-Medium.woff");
    font-style: normal;
}

@font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Regular.woff");
    font-style: normal;
}

@font-face {
    font-family: "TTLakes bold";
    src: url("./fonts/TTLakes-Bold.woff");
    font-style: normal;
}

@font-face {
    font-family: "TTLakes Demi";
    src: url('/fonts/');
}

body {
    font-family: "TTLakes", sans-serif;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}



.header {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

.header__menu {
    display: block;
    margin-right: 4px;
    align-self: baseline;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    flex: 1 0 96.55px;
}


.header__service {
    display: flex;
    margin-left: 4px;
    gap: 16px;
}

.divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin: 0 10px 0 16px;
}

.button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
}

.header__menu-btn {
    background-image: url('./icons/icon.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.repair__button {
    background-image: url('./icons/icon3.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.checkstatus__button {
    background-image: url('./icons/icon1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.header__call {
    background-image: url('./icons/call.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.header__chat {
    background-image: url('./icons/chat.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.header__profile {
    background-image: url('./icons/profile.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    align-content: space-around;
    padding-bottom: 2rem;
}


.main__title {
    position: relative;
    font-family: "TTLakes bold", sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    padding-left: 1rem;
    margin: 1.5rem 0 1.5rem 0;
}

.main__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.main__service {
    display: none;
    gap: 2rem;
}

.main__service-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    font-family: "TTLakes medium";
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.main__title::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 40px;
    background-color: aqua;
    border-radius: 5px;
    left: -4px;
}



.navigation__list {
    list-style: none;
    display: flex;
    overflow-x: auto;
    padding-left: 1rem;
    margin: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.navigation__list::-webkit-scrollbar {
    width: 0;
}


.navigation__button {
    font-family: "TTLakes medium";
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    height: 36px;
    white-space: nowrap;
    padding: 0 1.23em 0 1.23em;
    border: none;
    background-color: transparent;
}

.navigation__button_active {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    background-color: #fff;
}

.main__info {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    padding: 1.5rem 0 0 0;
}

.main__info-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}


.main__info-text {
    height: 90px;
    overflow-y: hidden;
    letter-spacing: 0.2px;
    font-size: 14.5px;
    line-height: 18px;
    margin: 0 0 1rem 0;
}

.read-more {
    position: relative;
    width: 132px;
    height: 24px;
    color: #1B1C21;
    border: none;
    background-color: transparent;
    font-family: "TTLakes medium";
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    align-self: self-start;
    text-align: end;
    padding: 0;
}

.read-more::before {
    content: '';
    position: absolute;
    background-image: url('./icons/readmore.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    left: 0;
}

.main__image {
    display: flex;
    margin-top: 1rem;
    padding: 0;
}







@media screen and (min-width: 768px) and (max-width: 1119.98px) {
    .header {
        padding: 24px;
    }

    .divider[hidden] {
        display: inline;
    }

    .header__contact[hidden] {
        display: flex;
        gap: 16px;
    }

    .main__info {
        flex-direction: row;
        gap: 3rem;
    }

    img {
        border-radius: 5px;
    }

    .main__info-text {
        width: 312px;
        height: 160px;
    }

    .main__image {
        display: none;
    }

    .main__image_medium[hidden] {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .header {
        display: none;
    }

    .main {
        padding-top: 18px;
    }

    .main__header {
        margin-right: 25px;
    }

    .main__title {
        padding-left: 2rem;
    }

    .main__service {
        display: flex;
    }

    .navigation__list {
        padding-left: 2rem;
        flex-wrap: wrap;
    }

    .main__info {
        flex-direction: row;
        padding-top: 10px;
    }

    .main__info-container {
        padding: 0 48px 0 34px;
    }

    .main__info-text {
        width: 490px;
        height: 160px;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 8px 0;
    }

    .main__image {
        display: none;
    }

    .main__image_large[hidden] {
        display: block;
    }
}